// .o_kanban_card {
//   // width: 450px !important;
//   border-radius: 8px;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   transition: all .3s ease-in-out;

//   &:hover {
//     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
//     cursor: pointer;
//   }

//   .o_kanban_title_card {
//     margin-left: 5px;
//     font-size: 1.2rem;
//     color: #6c757d;

//     .o_kanban_subtitle_card {
//       font-weight: normal;
//       font-size: .6rem;
//       margin-left: 3px;
//       color: #c2c3c3;
//     }
//   }

//   .o_kanban_block {
//     display: flex;
//     flex-direction: column;
//     gap: 15px;

//     .o_kanban_flex {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;

//       .o_kanban_content {
//         display: flex;
//         flex-direction: column;

//         .o_kanban_label {
//           font-size: .8rem;
//           color: #6c757d;
//         }

//         .o_kanban_fake_input {
//           // width: ;
//           padding: 6px 10px;
//           background: #f4f4f4;
//           font-family: inherit;
//           font-size: 14px;
//           margin-bottom: 5px;
//           box-sizing: border-box;
//           border: 1px solid #ced4da;
//           border-radius: .25rem;
//         }
//       }



//     }
//   }
// }

// .o_kanban_btn_show {
//   width: 130px !important;
// }