<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Root -->
    <menuitem
        id="menu_hr_payroll_incentives_root"
        name="Incentivos"
        sequence="10"
    />

    <!-- Main Menus -->
    <menuitem
        id="menu_incentive_sales_label"
        name="Incentivos"
        parent="menu_hr_payroll_incentives_root"
        sequence="10"
    />

    <!-- Incentives -->
    <menuitem
        id="menu_incentive_sales_run"
        name="Incentivos de Ventas"
        parent="menu_incentive_sales_label"
        action="action_incentive_sales_run"
        sequence="10"
    />

    <menuitem 
        id="menu_incentive_warehouse_run"
        name="Incentivos de Almacén"
        parent="menu_incentive_sales_label"
        action="action_incentive_warehouse_run"
        sequence="10"
    />

    <!-- Configuration -->

     <menuitem
        id="menu_incentive_sales_config"
        name="Configuración"
        parent="menu_hr_payroll_incentives_root"
        sequence="20"
    />

    <menuitem
        id="menu_incentive_sales_rules"
        name="Reglas de Ventas"
        parent="menu_incentive_sales_config"
        action="action_incentive_sales_rules"
        sequence="10"
    />

    <menuitem
        id="menu_incentive_sales_rule_goal_line"
        name="Objetivo de Ventas"
        parent="menu_incentive_sales_config"
        action="action_incentive_sales_rule_goal_line"
        groups="base.group_no_one"
        sequence="20"
    />

    <menuitem
        id="menu_incentive_sales_rule_pricelist_line"
        name="Lista de Precios de Ventas"
        parent="menu_incentive_sales_config"
        action="action_incentive_sales_rule_pricelist_line"
        groups="base.group_no_one"
        sequence="30"
    />

    <menuitem
        id="menu_incentive_warehouse_rules"
        name="Reglas de Almacén"
        parent="menu_incentive_sales_config"
        action="action_incentive_warehouse_rule"
        sequence="40"
    />

</odoo>